# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle
.settings
app/bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/lab/v16/.suo
